$color-initial: #4e4133 !default
$color-primary: #4e4133 !default
$color-secondary: #1B2021 !default
$color-tertiary: #89023E !default
$color-quaternary: #473042 !default
$color-quinary: #2A9D8F !default

@import "~milligram/src/milligram"
@import "./nav"
@import "./toastr"
@import "./footer"

*
  margin: 0
  padding: 0

html, body
  height: 100%

body
  display: flex
  flex-direction: column

input[type=submit],
input[type=submit]:focus,
input[type=submit]:hover,
pre
  color: white

.container
  width: 320px

.no-wrap
  white-space: nowrap

.pointer
  cursor: pointer


button.btn-link
  padding: 0
  margin: 0
  display: inline
  line-height: inherit
  text-transform: inherit
  height: inherit
  letter-spacing: inherit
  font-size: inherit
  font-weight: inherit
  border: none
  border-radius: 0
  background-color: transparent
  -webkit-appearance: none

.text-right
  text-align: right

.text-center
  text-align: center

.text-left
  text-align: left
